@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	height: 100vh;
	position: relative;

	& .intro {
		position: absolute;
		left: calc((100vw - 1280px) / 2);
		top: calc(100% - 106px);
		transform: translate(0, -50%);

		@media screen and (max-width: $media-desktop) {
			left: 40px;
		}

		& > h1 {
			font-family: 'Noto Sans TC', sans-serif;
			font-size: 78px;
			line-height: 82px;
			font-weight: 800;
			color: $primary-dark;
			margin-bottom: 16px;
		}

		& > p {
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			line-height: 28px;
			font-weight: normal;
			color: $primary-gray;
			white-space: pre-wrap;
		}

		&.fixed {
			position: fixed;
			top: 50%;
		}
	}
}
