@import 'styles/color.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 100vh;
	background-color: #f8f9fd;
	padding: 48px 40px;
	border-right: 1px solid $primary-light-gray;

	& > h1 {
		font-family: 'Noto Sans TC', sans-serif;
		font-size: 40px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.68px;
		text-align: center;
		color: $primary-dark;
		margin-bottom: 40px;
	}

	& > button {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}
