@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	& > h1 {
		font-size: 24px;
		font-weight: 700;
		color: $light;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 8px;
		letter-spacing: 1.5px;
	}
}
