$primary: #457b9d;
$secondary: #a8dadc;
$black: #000000;
$black-grey: #414042;
$background: #f9fafb;
$danger: #e63946;
$light: #f1faee;
$dark: #1d3557;

$primary-dark: #303030;
$primary-dark-hover: rgba(48, 48, 48, 0.7);
$primary-gray: #a4a4a4;
$primary-light-gray: #e7e7e7;
$primary-light-gray-hover: rgba(48, 48, 48, 0.12);
