@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 106px;
	width: 100vw;
	position: fixed;
	z-index: 300;
	top: -100%;
	transition: top 1s, box-shadow 0.3s;
	background-color: white;

	@media screen and (max-width: $media-phone) {
		position: inherit;
		height: 88px;
	}

	&.shadow {
		box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);

		@media screen and (max-width: $media-phone) {
			box-shadow: none;
		}
	}

	&.show {
		top: 0%;
	}

	& .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1280px;
		width: 100%;

		@media screen and (max-width: $media-desktop) {
			width: 100%;
			padding: 0 40px;
		}

		@media screen and (max-width: $media-phone) {
			max-width: none;
			padding: 0 24px;
		}

		& > svg {
			cursor: pointer;
			transition: transform 0.3s;

			@media screen and (max-width: $media-phone) {
				width: 40px;
				height: 40px;
			}

			&:hover {
				transform: scale(0.9);
			}
		}

		& > ul {
			display: flex;
			margin: 0;
			padding: 0;
			height: 32px;

			@media screen and (max-width: $media-desktop) {
				display: none;
			}

			& * {
				transition: all 0.3s;
			}

			& > li {
				list-style: none;
				cursor: pointer;

				&:not(:last-child) {
					margin-right: 32px;
				}

				&:hover {
					transform: scale(0.9);

					& > a {
						color: $primary-dark;
					}

					& > button > svg > path {
						fill: $primary-dark;
					}
				}

				& > a {
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					font-size: 16px;
					line-height: 32px;
					color: $primary-gray;
					cursor: pointer;
				}

				& > button {
					border: none;
					background-color: transparent;
					margin: 0;
					padding: 0;
					height: 32px;
					cursor: pointer;
				}
			}
		}

		& .mobileButton {
			display: none;

			@media screen and (max-width: $media-desktop) {
				display: flex;
				border: none;
				background-color: transparent;
			}
		}
	}
}
