@import 'styles/color.scss';

.wrapper {
	min-height: 100vh;

	&.isBackstage {
		display: flex;
	}

	& .alert {
		position: fixed;
		top: 10px;
		left: 50%;
		transform: translate(-50%, 0);

		& span {
			font-weight: bold;
		}
	}
}
