@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 120px;

	& .container {
		width: 100%;
		max-width: 1280px;

		& .project {
			margin-bottom: 120px;

			@media screen and (max-width: $media-desktop) {
				margin-left: 40px;
				margin-right: 40px;
			}

			& .sectionTitle {
				margin-bottom: 32px;
			}

			& .content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 40px;

				@media screen and (max-width: $media-tablet) {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}

.modalWrapper {
	position: absolute;

	& .modalContainer {
		background-color: white;
		border-radius: 4px;
		box-shadow: 0 2px 12px 0 rgba(51, 51, 51, 0.25);
		width: 1280px;
		display: flex;
		flex-direction: column;
		padding: 40px;
		position: relative;
		margin-bottom: 10vh;

		& > svg {
			position: absolute;
			top: 16px;
			right: 16px;
			cursor: pointer;
		}
	}
}
