@import 'styles/color.scss';
@import 'styles/media.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 48px 32px;

	& .content {
		display: flex;
		flex-direction: column;
		border: 1px solid $primary-light-gray;
		border-radius: 4px;
		padding: 24px;

		& .link {
			cursor: pointer;
			margin-bottom: 4px;
			color: $primary;
			font-size: 12px;
		}

		& .uploadButton {
			width: 240px;

			& .file {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				cursor: pointer;
				font-family: 'Noto Sans TC', sans-serif;
				font-size: 18px;
				font-weight: bold;

				& input {
					display: none;
				}
			}
		}
	}

	& .footer {
		display: flex;
		justify-content: flex-end;
		padding: 24px 0;

		& > button {
			width: 144px;
			margin-left: 12px;
		}
	}
}
