@import 'styles/color.scss';
@import 'styles/media.scss';

.sectionTitle {
	display: flex;
	flex-direction: column;

	& > h1 {
		font-family: 'Noto Sans TC', sans-serif;
		font-size: 78px;
		line-height: 82px;
		font-weight: 800;
		color: $primary-dark;
		margin-bottom: 16px;

		@media screen and (max-width: $media-desktop) {
			font-size: 56px;
			line-height: 1;
		}

		@media screen and (max-width: $media-phone) {
			font-size: 40px;
		}
	}

	& > p {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		line-height: 28px;
		font-weight: normal;
		color: $primary-gray;
		white-space: pre-wrap;
		width: 100%;

		@media screen and (max-width: $media-phone) {
			font-size: 14px;
			line-height: 22px;
		}
	}
}
