.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;

	& .alert {
		position: fixed;
		top: 10vh;

		& span {
			font-weight: bold;
		}
	}

	& .authModal {
		width: 320px;
	}

	& .container {
		width: 320px;

		& .loginForm {
			display: flex;
			flex-direction: column;
			border: 1px solid #e7e7e7;
			border-radius: 4px;
			padding: 24px;
		}
	}
}
